h1{
	font: 40px cursive;
	font-weight: bold;
	color: red;
}

#conteiner{
	background-color: azure;
}

td{
	border: 1px solid black; 
}

label{
	font:18px cursive;
	font-weight: bold;
	color: red;
}